@font-face		{font-family: "COSMOSCA";
				src: url(/font/COSMOSCA.TTF) format("truetype");}


html			{position: relative; min-height: 100%;}

body			{margin: 0 0 45px;}

.box
{
	display: block;
	background-color: #CE1242; /*  ROUGE  */
	height: 220px;
}

#chupa-title	{position: relative; top: -33px; width: 70%; left: 110px;}

.general
{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

/*#bienvenue		{position: relative;
				margin: 0px 0px;}*/

.buttons
{
	float: right; 
	position: absolute;
	width: 700px;
	margin: -215px 0 0 700px;
}

#logo			{position: relative; margin: 61px -32px; float: left;}

h1				{font-family: "COSMOSCA";
				font-size: 6em;
				color: #a65fc7;}

iframe
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
}

.form_login, #bienvenue  /*ATTEEEENTTTTIOON A CA*/
{
	position: absolute;
	left: 280px;	
	margin:  -190px 580px 0 0;
	z-index: 100;
	text-align: center;
	
}

.container
{
	height: 1500px; 
	background-color: #FFF200; /*  JAUNE  */
	padding-top: 50px;
	padding-right: 30px;
	padding-left: 30px;
}

#product		{text-align: center; font-size: 6vmin; font-family: COSMOSCA; color: red;}

ul				{width: 60%; margin-left: auto; margin-right: auto; min-width: 1000px; max-width: 1000px; max-height: 1000px}

li				{margin: 20px; float: left; height: 30%; width: 20%; overflow: hidden; text-align: center; min-height: 270px}
li img			{max-width: 100%; max-height: 90%; padding-bottom: 5px}

footer			{position: absolute; bottom: 0; width: 100%; height: 45px; background-color: white;  margin-bottom: 0}

#lorem			{float: left;}

/*.left			{background-color: yellow;width: 100%; margin-bottom: 0}*/


.button{text-decoration:none; text-align:center; 
 padding:8px 32px; 
 border:double 6px #bf6dbc; 
 -webkit-border-radius:24px;
 -moz-border-radius:24px;
 border-radius: 24px;
 font:20px Verdana, Geneva, sans-serif; 
 font-weight:bold; 
 color:#f7ff1c; 
 background-color:#a63bc7; 
 background-image: -moz-linear-gradient(top, #a63bc7 0%, #c44876 100%); 
 background-image: -webkit-linear-gradient(top, #a63bc7 0%, #c44876 100%); 
 background-image: -o-linear-gradient(top, #a63bc7 0%, #c44876 100%); 
 background-image: -ms-linear-gradient(top, #a63bc7 0% ,#c44876 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c44876', endColorstr='#c44876',GradientType=0 ); 
 background-image: linear-gradient(top, #a63bc7 0% ,#c44876 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 6px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 6px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 6px #ffffff;

  }.button:hover{
 padding:8px 32px; 
 border:double 6px #bf6dbc; 
 -webkit-border-radius:24px;
 -moz-border-radius:24px; 
 border-radius: 24px; 
 font:20px Verdana, Geneva, sans-serif; 
 font-weight:bold; 
 color:#f7ff1c; 
 background-color:#a63bc7; 
 background-image: -moz-linear-gradient(top, #a63bc7 0%, #c44876 100%); 
 background-image: -webkit-linear-gradient(top, #a63bc7 0%, #c44876 100%); 
 background-image: -o-linear-gradient(top, #a63bc7 0%, #c44876 100%); 
 background-image: -ms-linear-gradient(top, #a63bc7 0% ,#c44876 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c44876', endColorstr='#c44876',GradientType=0 ); 
 background-image: linear-gradient(top, #a63bc7 0% ,#c44876 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 20px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 20px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 20px #ffffff;  
  
 }.button:active{
 padding:8px 32px; 
 border:double 6px #bf6dbc; 
 -webkit-border-radius:24px;
 -moz-border-radius:24px; 
 border-radius: 24px; 
 font:20px Verdana, Geneva, sans-serif; 
 font-weight:bold; 
 color:#f7ff1c; 
 background-color:#a63bc7; 
 background-image: -moz-linear-gradient(top, #a63bc7 0%, #c44876 100%); 
 background-image: -webkit-linear-gradient(top, #a63bc7 0%, #c44876 100%); 
 background-image: -o-linear-gradient(top, #a63bc7 0%, #c44876 100%); 
 background-image: -ms-linear-gradient(top, #a63bc7 0% ,#c44876 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c44876', endColorstr='#c44876',GradientType=0 ); 
 background-image: linear-gradient(top, #a63bc7 0% ,#c44876 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 6px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 6px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 6px #ffffff;  
  
 }


.btn {
  background: #b834d9;
  background-image: -webkit-linear-gradient(top, #b834d9, #b82b6f);
  background-image: -moz-linear-gradient(top, #b834d9, #b82b6f);
  background-image: -ms-linear-gradient(top, #b834d9, #b82b6f);
  background-image: -o-linear-gradient(top, #b834d9, #b82b6f);
  background-image: linear-gradient(to bottom, #b834d9, #b82b6f);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 6px 35px 6px 35px;
  text-decoration: none;
}

.btn:hover {
  background: #7e3cfa;
  background-image: -webkit-linear-gradient(top, #7e3cfa, #d934c0);
  background-image: -moz-linear-gradient(top, #7e3cfa, #d934c0);
  background-image: -ms-linear-gradient(top, #7e3cfa, #d934c0);
  background-image: -o-linear-gradient(top, #7e3cfa, #d934c0);
  background-image: linear-gradient(to bottom, #7e3cfa, #d934c0);
  text-decoration: none;
}

 .css-input { border-color:#cccccc; border-style:solid; font-size:15px; border-width:0px; 
 	border-radius:37px; background-color:#CE1242; padding:7px; color:#FFF200; 
 	box-shadow: 0px 1px 19px 0px rgba(42,42,42,.56); text-shadow:0px 0px 0px rgba(42,42,42,.75); 
 	font-style:italic; font-family:sans-serif;
 	width: 120px; height: 20px} 
		 .css-input:focus { outline:none; } 


